.lawRef-suggestion-container {
  position: relative;
}

.lawRef-snippet {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 15px;
  background-color: white;
  color: black;
  padding: 0.9rem;
  z-index: 100;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lawRef-suggestion-container:hover .lawRef-snippet {
  display: block;
}

.lawRef-element {
  padding: 10px; /* Etwas Innenabstand */
  padding-top: 0px;
  margin: 5px;
  border-radius: 10px; /* Abgerundete Ecken */
  border-color: var(--color-base-40);
  border-width: 1px;
  border-style: solid;
}

.lawRef-menu-item {
  margin: 2px;
}

.lawRef-temp{
  border-color: var(--color-yellow);
}

.lawRef-suggestion:not(.lawRef-open){
  padding-bottom: 0px;
}

.lawRef-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lr-underline {
  --background-transparency : 0;
  background-color: rgba(var(--color-yellow-rgb), var(--background-transparency));
  animation-name: fadeout;
  animation-duration: 1s;
  animation-fill-mode: none;
  animation-timing-function:ease-in-out;
}

.lr-underline:hover {
  --background-transparency: 0.5;
}

@keyframes fadeout {
  0% {
    --background-transparency: 0;
  }
  10% {
    --background-transparency: 0.1;
  }
  20% {
    --background-transparency: 0.2;
  }
  30% {
    --background-transparency: 0.5;
  }
  100% {
    --background-transparency: 0;
  }
}

input.wrong-input {
  border-color: var(--color-red);
  background-color: var(--color-red);
}

.wrong-input-text {
  color: var(--color-red)
}

input.lawRef-search {
  width: 100%;
  margin: 5px;
  display: flex;
  align-self: center;
  justify-self: center;
  
}

.jurAbsatz:not(:first-child) {
  margin-top: 10px;
}